<div class="header-container">
    <div class="header">
        <a href="/">
            <h2>
                ANGULAR LEARNING SHOP
            </h2>
        </a>

        <div class="navigation">
            <a href="/store/products">Store</a>
            <a href="/store/cart">
                <div class="cart-icon">
                    {{cartItemsCount}}
                    <span class="material-symbols-outlined">
                        shopping_cart
                    </span>
                </div>
            </a>
        </div>
        
        
        
        
    </div>
    
   
</div>